<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zf.yichat.mapper.MessageDelTimeMapper">
    <resultMap id="BaseResultMap" type="com.zf.yichat.model.MessageDelTime">
        <!--
          WARNING - @mbggenerated
        -->
        <constructor>
            <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="user_id" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="refer_id" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="refer_type" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="del_time" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="ctime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="utime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        </constructor>
    </resultMap>
</mapper>