<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zf.yichat.mapper.SysDictMapper">
    <resultMap id="BaseResultMap" type="com.zf.yichat.model.SysDict">
        <!--
          WARNING - @mbggenerated
        -->
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="code" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="value" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="memo" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="ctime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="utime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        </constructor>
    </resultMap>
</mapper>