<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zf.yichat.mapper.UserFeedbackMapper">
    <resultMap id="BaseResultMap" type="com.zf.yichat.model.UserFeedback">
        <!--
          WARNING - @mbggenerated
        -->
        <constructor>
            <arg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="content" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="user_id" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="ctime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        </constructor>
    </resultMap>
</mapper>